@media ( min-width:992px ) {
    
    .main {
        max-width:auto;
    }
   .main-1 {
        margin: 10px 10px 0px 10px;
    }

   .main-2 ul {   
        margin: 5px;
        padding: 3px;
    }

    li .icone {
        margin: 0px 10px;
    }

   a {
      margin: 5px;
    }
 

    li .dropdown-content {
        max-width: 100px;      
    }



}